{% extends 'base.html' %}

{% block body %}
asafd
<div class="Team-Details-info">
        <h2>Teams</h2>
    </div>
{% if GroupTeams %}
	<ul>
		{% for AllTeams in GroupTeams %}


			<div class="row">
                <div class="col-sm-12">
		<div class="profile">
        <a href="{% url 'main:GroupTeamDetails' AllTeams.id %}">{{AllTeams.TeamName}}</a>
         </div>
        </div>

		</div>

	{% endfor %}
	</ul>
{% else %}
	<h3>you don't have any album</h3>
{% endif %}


  </div>
{% endblock %}