
{% extends 'base.html' %}
<div class="Container">
	<div class="row">
{% block body %}





{% if all_album %}
	<ul>
		{% for TeamMembers in all_album %}

		<!-- details -->
			<!-- <li><a href="/music/{{album.id}}">{{album.title}}</a></li> -->

			<div class="col-sm-4 indpic">
				<div class="thumbnail">
		<img src="{{TeamMembers.Pic.url}}"><br>

		<form class="indform" action="{% url 'main:TeamMember-delete' TeamMembers.id  %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			 <a href="{% url 'main:details' TeamMembers.id %}">{{TeamMembers.Name}}</a>
			<button type="submit">
				<span class="glyphicon glyphicon-trash"></span>
			</button>
         </form>

        </div>
		 </div>
	{% endfor %}
	</ul>
{% else %}
	<h3>you don't have any album</h3>
{% endif %}
{% endblock %}
			</div>
</div>