
@{
    ViewBag.Title = "Selectskills";
}

<h2>Selectskills</h2>

<div class="SelectSkills" style="text-align: center;border:1px solid ;margin: 0px 280px;padding: 50px;">
    <div class="container">
        <div class="row">  
                <button type="button" onclick="location.href='@Url.Action("DeveloperSkills", "EmployeeForm")'"  style="font-size: 25px;padding: 25px 80px">Developer Skills</button>
            </div>
            <div class="row">
                <button type="button" style="font-size: 25px;padding: 25px 85px;margin-top: 30px;">Technical Skills</button>
            </div>
        </div>
    </div>
