<div class="Operations" style="text-align: center;border:1px solid ; margin: 73px 280px;padding: 50px;">
    <div class="container">
        <div class="row">
            <button type="button" onclick="location.href='@Url.Action("Add", "Home")'" style="font-size: 25px;padding: 25px 94px">Add</button>
        </div>
        <div class="row">
            <button type="button" onclick="location.href='@Url.Action("Sales", "Home")'" style="font-size: 25px;padding: 25px 85px;margin-top: 30px;">Sales</button>
        </div>
    </div>
</div>