<h3 style="font-weight: 700;">INVENTORY SYSYTEM</h3>
<div class="Operations" style="text-align: center;border:1px solid ; margin: 73px 280px;padding: 50px;background-color: beige;box-shadow: 7px 5px 8px #c3c57099;">
    <div class="container">
        <div class="row">
            <button type="button" onclick="location.href='@Url.Action("Add", "Home")'" style="font-size: 25px;padding: 25px 35px;border-radius: 20px;"> Product Entry</button>
        </div>
        <div class="row">
            <button type="button" onclick="location.href='@Url.Action("Sales", "Home")'" style="font-size: 25px;padding: 25px 48px;margin-top: 30px;border-radius: 20px;"> Sales Entry</button>
        </div>            
    </div>
</div>

