{% extends 'base.html' %}

{% block body %}
  <div class="container-fluid">
    <div class="Team-Details-info">
        <h2>Team Information</h2>
    </div>

	<h4>TeamName:{{TeamsDetail.TeamName}}</h4>
	<h4>TeamLead:{{TeamsDetail.TeamLead}}</h4>
    <h4>ClientName:{{TeamsDetail.ClientName}}</h4>
    <h4>Tech:{{TeamsDetail.Tech}}</h4>

<div class="Team-Details-info">
        <h2>TeamMembers</h2>
    </div>
{% if All_TeamMembers %}
	<ul>
		{% for AllTeams in All_TeamMembers %}


			<div class="row">
                <div class="col-sm-12">
		<div class="profile">
        <a href="{% url 'main:TeamMemberDetails' AllTeams.id %}">{{AllTeams.Name}}</a>
		<form action="{% url 'main:Teams-delete' AllTeams.id %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
         </form>
         </div>
        </div>

		</div>

	{% endfor %}
	</ul>
{% else %}
	<h3>you don't have any album</h3>
{% endif %}


  </div>
{% endblock %}

